.DS_Store
out/
.vscode/
.metals/
.bloop/
.idea/
.idea_modules/
target/
reports/
lib_managed/
src_managed/
project/boot/
project/project/
project/project/target/
project/plugins/project
java_pid*.hprof
*.swp
tags
.ensime
*.iml
.history
*~
wip/
.dotty-ide*
_site/
.bsp/
