<configuration>

	<!--

	  The following tags configure the console (stdout) appender.
	  See http://logback.qos.ch/manual/appenders.html#ConsoleAppender for details.

	-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] | %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!--

	  The following sets the logging levels and log appender. The root logger
	  defines the default log level and one or more appenders.

	  For the console, use 'STDOUT'.  For the daily rolling file,
	  use 'FILE'.

	  Possible Log Levels (in increasing order of priority):
	    TRACE, DEBUG, INFO, WARN, ERROR

	-->
	<root level="OFF">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>